# Default ignored files
/../../demo /.idea/shelf/
/../../demo /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../demo /.idea/httpRequests/
# Datasource local storage ignored files
/../../demo /.idea/dataSources/
/../../demo /.idea/dataSources.local.xml
